@model Konsultacje.Models.Konsultacja

@{
    ViewData["Title"] = "Brak miejsc";
}

<h2>Brak miejsc</h2>

<div>
    <h4>Przepraszamy</h4>
    <p>Nie ma ju¿ wolnych miejsc na wybrane przez Ciebie konsultacje. Prosimy wybraæ inny termin.</p>
</div>
<div>    
    <a asp-action="PowrotLista">Powrót do listy konsultacji</a>
</div>
