@{
    ViewData["Title"] = "Strona startowa";
}


<div class="row">
    <div class="col-md-3">
        <h2>Konsultacje</h2>
        <ul>
            <li><a href="/Konsultacja">Przegjądaj wszystkie</a></li>
            @if (User.IsInRole("Student"))
            {
            <li><a href="/ZapisNaKonsultacje/Student">Przegjądaj konsultacje, na które się zapisałem</a></li>
            <li><a href="/PropozycjaKonsultacji">Przegjądaj moje propozycje konsultacji</a></li>
            }
            @if (User.IsInRole("PracownikUczelni"))
            {

            <li><a href="/Konsultacja?moje=true">Przegjądaj moje</a></li>
            <li><a id="zapisani" href="/ZapisNaKonsultacje">Zapisani na konsultacje</a></li>
            <li><a href="/PropozycjaKonsultacji">Przegjądaj propozycje konsultacji</a></li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Inne rzeczy</h2>
        <ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Lorem ipsum</h2>
        <ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Koniec</h2>
        <ul>
        </ul>
    </div>
</div>
