@{
    ViewData["Title"] = "Strona startowa";
}


<div class="row">
    <div class="col-md-3">
        <h2>Konsultacje</h2>
        <ul>
            <li><a href="/Konsultacja">Przegjądaj</a></li>
            <li><a href="/ZapisNaKonsultacje">Zapisani na konsultacje</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Inne rzeczy</h2>
        <ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Lorem ipsum</h2>
        <ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Koniec</h2>
        <ul>
        </ul>
    </div>
</div>
